$color-primary-light: rgb(153, 153, 153);
$color-primary: rgb(102, 102, 102);
$color-primary-dark: rgb(51, 51, 51);

$color-black-light: rgba(0, 0, 0, 0.25);
$color-black: rgba(0, 0, 0, 0.75);
$color-black-dark: rgba(0, 0, 0, 0.9);

$box-shadow: 0 2px 8px $color-black-light;
$border-radius: 5px;
$border: 1px solid $color-black-light;

$transition-all: all 0.2s;
